.make-public {
  padding-top: 10px;
}

.make-public label {
  margin-right: 10px;
}

.why-public:hover:after {
  content: 'By selecting this checkbox, the note will be available on the public blockchain ledger, otherwise it will be for your private records only :)';
  position: absolute;
  margin-left: 5px;
  background: #023e57;
  color: white;
  padding: 5px;
  border-radius: 3px;
  width: 150px;
  font-size: 13px;
  z-index: 10000;
}

.public-note-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.note-msg {
  color: #CCCCCC;
  font-weight: 100;
  font-size: 12px;
}

textarea {
  border-radius: 3px;
  border-color: #EEEEEE;
  height: 60px;
  width: 300px;
}

textarea:focus {
  outline: none;
}

.total-amounts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.amount-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 5px;
}

.amount-item p {
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #CCCCCC;
  font-size: 14px;
}

.amount-item span {
  font-size: 11px;
  margin-left: 10px;
  font-weight: 100;
}

.amount-item span:hover {
  cursor: pointer;
}

.amount-item span:hover:after {
  content: 'Fees are given to the miners who verify your transaction on the blockchain';
  position: absolute;
  margin-left: 5px;
  background: #023e57;
  color: white;
  padding: 5px;
  border-radius: 3px;
  min-width: 100px;
  font-size: 13px;
  z-index: 10000;
}

.total-item {
  border-top: 1px solid RGBA(4, 4, 4, 0.1);
  border-radius: 3px;
}

.total-item p {
  color: #0498D4;
}

input[readonly="readonly"] {
  color: #CCCCCC;
  margin-left: 10px;
  border-bottom: none !important;
}

.available {
  color: #CCCCCC;
  margin-top: 30px;
  margin-bottom: 5px;
  padding: 0;
  font-weight: 100;
  font-size: 13px;
}

.actions {
  border-top: 1px solid #EEEEEE;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.actions .cancel {
  border: none;
  background: transparent;
  color: #CCCCCC;
  margin-right: 10px;
}

.actions .next {
  background: #595959;
  border-radius: 3px;
  border: none;
  color: white;
  padding: 8px 12px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.actions .next:hover {
  text-decoration: none;
  background: #404040;
}

.actions .fa-chevron-right, .actions .fa-check {
  color: white;
  margin-left: 5px;
  font-size: 12px;
}

.actions .next.send {
  padding: 12px 36px;
  background: #8CCA6A;
}

.actions .next.send:hover {
  text-decoration: none;
}

button:focus {
  outline: none;
}

.fa-arrows-h {
  color: #CCCCCC;
  padding: 0px 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.label {
  color: #0498D4;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
}

.usd-amount, .btc-amount {
  border-bottom: 1px solid #CCCCCC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.usd-amount label, .btc-amount label {
  margin: 0;
  color: #595959 !important;
}

.usd-amount input, .btc-amount input {
  border: none;
  background: transparent;
}

.usd-amount input:focus, .btc-amount input:focus {
  outline: none;
}

.amount-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.amount-field label {
  margin-right: 10px;
}

.send-by {
  list-style-type: none;
  position: absolute;
  top: 0px;
  right: 25px;
}

.send-by li {
  display: inline-block;
  margin: 0 10px;
  color: #CCCCCC;
}

.send-by li.active {
  color: #0498D4;
  font-weight: 700;
}

.send-by li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hide {
  display: none !important;
}

.hidden {
  opacity: 0;
}

.to-field, .public-note {
  position: relative;
}

.to-field label, .public-note label {
  margin-bottom: 15px;
}

.btc, .email, .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.qr-code {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 33px;
  top: 50px;
  background: #fdfdfd;
  border: 1px solid #e5e5e5;
  padding: 5px;
}

.qr-code:hover {
  cursor: pointer;
  background: #efefef;
}

.control-group {
  padding: 1em 2em;
  background: white;
}

.control-group input[type="text"] {
  border: none;
  background: transparent;
  padding: 8px 0;
  border-bottom: 1px solid #CCCCCC;
  min-width: 350px;
}

.control-group input[type="text"]:focus {
  outline: none;
  -webkit-appearance: none;
}

.control-group label {
  color: #595959;
}

.step {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px;
  padding-right: 14px;
}

.form-title {
  color: #0498D4;
  padding: 1em 2em;
}

.form-title h5 {
  font-weight: 100;
  color: #b3b3b3;
  margin-bottom: 5px;
  margin-top: 0;
}

.form-title .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-title img {
  width: 40px;
  height: 40px;
  margin-right: 25px;
}

.form-title h2 {
  font-weight: 300;
}

form {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.form-wrapper {
  -webkit-box-shadow: 0 5px 1px 0 rgba(0, 40, 68, 0.4);
          box-shadow: 0 5px 1px 0 rgba(0, 40, 68, 0.4);
  border-radius: 3px;
  background: #F5F7F9;
  position: relative;
  margin: 1em;
}

.collapse {
  -webkit-animation: collapse .6s linear 0s 1;
  animation: collapse .6s linear 0s 1;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=password] {
  /*-webkit-appearance: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid #CCCCCC;
  margin: 0px;*/

  border: none;
  background: transparent;
  padding: 8px 0;
  border-bottom: 1px solid #CCCCCC;
  min-width: 350px;
  outline: none;
}

::-webkit-input-placeholder {
  color: #CCCCCC;
}

html, body {
  height: 100%;
  /*background: #0498D4;*/
  background-image: url('https://www.criptonoticias.com/wp-content/uploads/2019/05/comisiones-incremento-congesti%C3%B3n-Bitcoin-960x570.jpg');
  background-repeat: round;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", "Lato", sans-serif;
  font-weight: normal;
}

@-webkit-keyframes collapse {
  10% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  20% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  30% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  40% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  60% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  70% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  80% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  90% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=index.css.map */